<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
        <servlet>
        <servlet-name>ServletReservation</servlet-name>
        <servlet-class>servlet.ServletReservation</servlet-class>
    </servlet> 
    <servlet>
        <servlet-name>ServletMembre</servlet-name>
        <servlet-class>servlet.ServletMembre</servlet-class>
    </servlet>     
    <servlet>
        <servlet-name>ServletPlanning</servlet-name>
        <servlet-class>servlet.ServletPlanning</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAvion</servlet-name>
        <servlet-class>servlet.ServletAvion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletConnection</servlet-name>
        <servlet-class>servlet.ServletConnection</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletReservation</servlet-name>
        <url-pattern>/ServletReservation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletMembre</servlet-name>
        <url-pattern>/ServletMembre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPlanning</servlet-name>
        <url-pattern>/ServletPlanning</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAvion</servlet-name>
        <url-pattern>/ServletAvion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConnection</servlet-name>
        <url-pattern>/ServletConnection</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
